.container(ng-app='myApp' ng-controller='myCtrl')
  .title.shadow 
    .toggle-nav#toggle-nav
      span
      span
      span
    h2 {{mode}}
    .toggle-tools#toggle-tool
      span
      span
  .nav#nav.shadow
    nav#menu
      div(ng-click='edit()') Edit
      div a
      div a
    .nav-bg#close-nav
  .main#main
    canvas#canvas
    input(type="file" id='image-file' accept="image/*")
    //- label(for = 'image-file') Select image
    .input-group
      input(type="button" onclick="document.getElementById('image-file').click()" value='Select image')
      input(type="text" id='image-url' ng-model='fileURL' placeholder='Or type URL')
  .tools#tools.shadow
    .tool.edit(ng-if='editMODE')
      label(for='bright' ng-click='bright = 0; brightAdjust() ') Brightness: {{bright}}
      input(type="range" ng-model='bright' id='bright-slider' min='-255' max='255' value='0' ng-change='brightAdjust()')
      h4 Color
      p Red: {{red}}
      input(type="range" ng-model='red' id='red-slider' min='-255' max='255' value='0' ng-change='color()') 
      p Green: {{green}}
      input(type="range" ng-model='green' id='green-slider' min='-255' max='255' value='0' ng-change='color()')
      p Blue: {{blue}}
      input(type="range" ng-model='blue' id='blue-slider' min='-255' max='255' value='0' ng-change='color()')